.catalog-search {
	margin-bottom: 10px;
}

.image-right {
	display: block;
  float: right;
}

.image-left {
	display: block;
  float: left;
}
.image-center{
	margin: auto;
  width: 50%;
}

.availability-status {
	font-size: 13px;
}

.cart {
	font-size: 24px;
	margin-right: 4px;
	padding-top: 18px;
}

.text-right {
	text-align: right;
}
.text-center{
	text-align: center;
}

.headers {
	clear: both;
}

.vertical-bottom {
  vertical-align: bottom;
}

.detail-action-buttons-div {
	margin-top: 16px;
}

.name {
	color: #095799;
	font-size: 16px;
}

.information{
	font-family: 'Exo', sans-serif !important;
}

.detailedInfo{
	background-color: #e7f3fd !important;
	box-shadow: 2px 2px 5px grey;
	font-family: 'Exo', sans-serif !important;
}
.approval{
	font-size: 13px;
}
.orange{
	color: #F37022;
}
.light-orange{
	color: #f5813d;
}
.inCart{
	background-color: #d6f5d6;
}

	.scroll_box {
		border: 1px solid #bbb;
		height: 500px;
		width: 500px;
		position: fixed;
		text-align: left;
		top: 75px;
	}
@media (max-width: 991px) {
	.scroll_box {
		border: 1px solid #bbb;
		height: auto;
		width: auto;
		max-width: 900px;
		position: relative;
		text-align: left;
		top: 50px;
	}
}
