.catalog-search {
	margin-bottom: 10px;
}

.image-right {
  float: right;
}

.image-left {
  float: left;
}

.availability-status {
	font-size: 13px;
}

.cart {
	font-size: 24px;
	margin-right: 4px;
	padding-top: 18px;
}

.text-right {
	text-align: right;
}
.text-center{
	text-align: center;
}

.headers {
	clear: both;
}

.vertical-bottom {
  vertical-align: bottom;
}

.detail-action-buttons-div {
	margin-top: 16px;
}

.name {
	color: #095799;
	font-size: 16px;
}

.information{
	font-family: 'Exo', sans-serif;
}

.detailedInfo{
	background-color: #e7f3fd !important;
	font-family: 'Exo', sans-serif;
}
.approval{
	font-size: 13px;
}
.orange{
	color: #F37022;
}
.light-orange{
	color: #f5813d;
}
.inCart{
	background-color: #fdefe7;
}
