<!--HTML for the studnet profile page -->
<section>
<body class="student-profile">
  <div class=""="wrapper-student-profile">
    <div class=""="header-student-profile">
      <div class="bg-student-profile"></div>
    </div>
    <div class="main-content-student-profile information">
      <div class="right-column-student-profile">
        <!--Start out with the user name and their objective -->
        <h1 style="color: #095799;">{{vm.user.firstName}} {{vm.user.lastName}}</h1>
        <h3 class="orange">Objective</h3>
          <p>I am searching for an internship/co-op in the coming spring or summer semester.</p>
        <h3 class="orange">Education</h3>
        <div class="box-student-profile">
          <h4>University of Florida, College of Engineering</h4>
          <div style="margin-top:10px;">
            <!--Display all the attributes of the user like Graduation Date and GPA -->
            <div ng-if="vm.user.major">
              <h4><u class="light-orange">Major</u></h4><p>{{vm.user.major}}</p>
            </div>
            <div ng-if="vm.user.gpa">
              <h4><u class="light-orange">GPA</u></h4><p>{{vm.user.gpa}}</p>
            </div>
            <div ng-if="vm.user.graduationDate">
              <h4><u class="light-orange">Graduation Date</u></h4><p>{{vm.user.graduationDate}}</p>
            </div>
            <div ng-if="vm.user.availabilityStatus">
              <h4><u class="light-orange">Employment Status</u></h4><p>{{vm.user.availabilityStatus}}</p>
            </div>
            <div ng-if="vm.user.teamName">
              <h4><u class="light-orange">Team Name</u></h4><p>{{vm.user.teamName}}</p>
            </div>
          </div>
        </div>
        <!--Display the shirt bio that the student will make -->
        <h3 class="orange" style="margin-top:10px;">Short Biography</h3>
        <div class="box-student-profile">
          <div ng-if="vm.user.bio">
            <p>{{vm.user.bio}}</p>
          </div>
        </div>
        <!--Dispaly the apporval status of the studnet if the user lookign is a admin or student -->
        <div ng-if="vm.authentication.user.type === 'student' || vm.authentication.user.type === 'admin'">
          <h3 class="orange" style="margin-top:10px;">Admin Approval Status</h3>
          <div class="box-student-profile" style="margin-bottom: 20px;">
              <div ng-if="vm.user.approve === false">
                 <h4 style="color:red;">Approval Status: No</h4>
               </div>
              <div ng-if="vm.user.approve === true">
                <h4 style="color:green;">Approval Status: Yes</h4>
              </div>
              <div ng-if="vm.user.comments">
                <h4 class="light-orange"><u>Comments</u></h4><p>{{vm.user.comments}}</p>
              </div>
          </div>
        </div>
      </div>
      <!--Display the studnet profile on the left side -->
      <div class="left-column-student-profile">
        <div class="main-image-student-profile">
          <img ngf-src="vm.user.base64ProfileImageURL" alt="{{vm.user.displayName}}" class="img-thumbnail user-profile-picture" ngf-drop width="200px" height="200px">
        </div>
        <div class="sidebar-student-profile">
          <div>
            <!--Buttons for the resume and short bio -->
              <a href="../../img/profile/default.png" target="_blank"><button class = "button-student-profile" target="_blank"><span>Resume</span></button></a>
              <a href="../../img/profile/default.png" target="_blank"><button class = "button-student-profile" target="_blank"><span>Short Bio</span></button></a>
              <!--<button class = "button-student-profile" type="button" data-toggle="modal" data-target="#statusModal"><span>Approval Status</span></button>
              <button class = "button-student-profile"><span>Comments</span></button>-->
          </div>
        </div>
      </div>
      <!--Testing to see if we can make a modal for when the user clicks on the resume buttons  -->
      <div class="modal fade" id="statusModal" role="dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Approval Status</h4>
            </div>
            <div class="modal-main">
              <p ng-if="vm.user.approve === false && vm.authentication.user.type === 'admin'" style="color:red;"><b>Approval Status:</b> No</p>
              <p ng-if="vm.user.approve === true && vm.authentication.user.type === 'admin'" style="color:green;"><b>Approval Status:</b> Yes</p>
              <p ng-if="vm.authentication.user.type === 'admin'"><b>Comments:</b> {{vm.user.comments}}</p>
            </div>
            <div class="modal-footer">
              <button type="button" data-dismiss="modal">Exit</button>
            </div>
          </div>
        </div>

    </div>
  </div>
</body>
</section>
