<!--HTML doc for when the admin adds a new user to the database-->
<section>
  <div class="page-header row">
    <div style="display: inline-block;">
      <h1 style="color: #095799;">Register a User</h1>
    </div>
      <a href="../catalog">
        <img class="image-right" ng-src="/modules/users/client/img/IPPD_Logos_withTEXT/IPPD_Logo-ORANGE_WhiteText.png" height="70" width="160">
      </a>
  </div>
  <div class="row">
  <nav class="col-md-offset-2 col-md-8">
    <!--When the user submit the form go to the signup function in the contorller file-->
    <form name="userForm" ng-submit="signup(userForm.$valid)" class="signin" novalidate autocomplete="off">
      <fieldset>
        <!--Div of all the attributes fo rhte user such as name, username, and password-->
        <div class="form-group" show-errors>
          <label class="orange" for="firstName">First Name</label>
          <input type="text" id="firstName" name="firstName" class="form-control" ng-model="newFirstName" placeholder="First Name" required autofocus>
          <div class="help-block" ng-messages="userForm.firstName.$error" ng-if="userForm.firstName.$touched">
            <p ng-message="required"><font color="red">First name is required.</font></p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label class="orange" for="lastName">Last Name</label>
          <input type="text" id="lastName" name="lastName" class="form-control" ng-model="newLastName" placeholder="Last Name" required>
          <div class="help-block" ng-messages="userForm.lastName.$error" ng-if="userForm.lastName.$touched">
            <p ng-message="required"><font color="red">Last name is required.</font></p>
          </div>
        </div>
        <!--Make sure that hte email is a valid email address-->
        <div class="form-group" show-errors>
          <label class="orange" for="email">Email</label>
          <input type="email" id="email" name="email" class="form-control" ng-model="newEmail" placeholder="Email" lowercase required>
          <div class="help-block" ng-messages="userForm.email.$error" ng-if="userForm.email.$touched">
            <p ng-message="required"><font color="red">Email address is required.</font></p>
            <p ng-message="email"><font color="red">Email address is invalid.</font></p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label class="orange" for="username">Username</label>
          <input type="text" id="username" name="username" class="form-control" ng-model="newUsername" ng-pattern="usernameRegex" placeholder="Username" lowercase required>
          <div class="help-block" ng-messages="userForm.username.$error" ng-if="userForm.username.$touched">
            <p ng-message="required"><font color="red">Username is required.</font></p>
            <p ng-message="pattern"><font color="red">Please enter a valid username: 3+ characters long, non restricted word, characters "_-.", no consecutive dots, does not begin or end with dots, letters a-z and numbers 0-9.</font></p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label class="orange" for="password">Password</label>
            <input type="password" id="password" name="password" class="form-control" ng-model="newPassword" placeholder="Password" uib-popover="{{vm.getPopoverMsg()}}" popover-trigger="outsideClick" password-validator required>
          <div class="help-block" ng-messages="userForm.password.$error" ng-if="userForm.password.$touched">
            <p ng-message="required"><font color="red">Password is required.</font></p>
            <div class="help-block" ng-repeat="passwordError in passwordErrors">
              <p ng-show="userForm.password.$error.requirements"><font color="red">{{passwordError}}</font></p>
            </div>
          </div>
        </div>
        <!--HtML to show that is needed for an effective password in the database.-->
        <div class="form-group" ng-show="!userForm.password.$error.required">
          <label class="orange">Password Requirements</label>
          <uib-progressbar value="requirementsProgress" type="{{requirementsColor}}"><span style="color:white; white-space:nowrap;">{{requirementsProgress}}%</span></uib-progressbar>
        </div>
        <div class="form-group" show-errors>
          <!--Radio buttons to choose if the created user is a sponsor, admin, or students-->
          <form id="roleOptions" name="roleOptions" class="filter-form">
            <fieldset class="filter-fieldset">
              <legend class="filter-legend orange">Role:</legend>
              <div class="filter-div">
                <!--For each of the one that are clicked call on the switchRoles function to update the database.-->
                <input type="radio" id="studentRole" name="roles" value="studentRole" checked="true" ng-click="switchRoles()">
                <label for="studentRole">Student</label>
              </div>
              <div class="filter-div">
                <input type="radio" id="sponsorRole" name="roles" value="sponsorRole" ng-click="switchRoles()">
                <label for="sponsorRole">Sponsor</label>
              </div>
              <div class="filter-div">
                <input type="radio" id="adminRole" name="roles" value="adminRole" ng-click="switchRoles()">
                <label for="adminRole">Admin</label>
              </div>
            </fieldset>
          </form>
        </div>
        <!--Confirm the setting on the user before moving on-->
        <div class="text-center form-group signup-checkbox-div">
          <input type="checkbox" name="checkbox" value="check"><span> Check this box to confirm.</span>
        </div>
        <div class="text-center form-group">
          <button type="submit" class="btn btn-primary" onclick="if(!this.form.checkbox.checked){alert('You must confirm first.');return false}"  />Sign up</button>
        </div>
      </fieldset>
    </form>
  </nav>
</div>
</section>
